body {
  background-color:seagreen;
}

.card {
  display: flex;
  justify-content: left;
  align-items: center;
}

.columns{
  display: flex;
  flex-wrap:wrap;

}

.column {
  background: skyblue;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}